/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';
@import '_scroll.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-yellow bg-off-black tracking-tight selection:bg-yellow selection:text-off-black;

  &::-webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.bio {
  &::-webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


.hero-image img {
  @apply bg-blend-lighten opacity-90 !important;
}

.hyphens {
  hyphens: manual;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@keyframes spinBack {
  from { transform: rotate(359deg); }
  to { transform: rotate(0deg); }
}

.spin {
  animation: spin 30s linear infinite;
}

.spin--fast {
  animation: spin 20s linear infinite;
}

.spin-backwards {
  animation: spinBack 30s linear infinite;
}

.embla {
  @apply relative mx-auto;
}

.embla__viewport {
  @apply w-full overflow-hidden;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;

  @apply ml-[-5vw] flex;
}

.embla__slide {
  @apply py-[3vw] pl-[5vw] min-w-[80vw] md:min-w-[55vw] relative;
}

.embla__slide__inner {
  @apply rounded-xl -rotate-3 bg-yellow-dark bg-opacity-60 h-[55vw] md:h-[33vw] overflow-hidden relative transition-transform ease-in-out duration-[750ms] translate-y-[2.2vw];
}

.embla__slide.is-selected {
  .embla__slide__inner {
    @apply -rotate-1 translate-y-0;
  }
}

.embla__slide.is-selected + .embla__slide {
  .embla__slide__inner {
    @apply rotate-3 translate-y-[1.2vw];
  }
}

.embla__slide__img {
  @apply block inset-0 absolute w-full h-full object-cover object-center scale-100;

  transition: opacity 0.5s ease-in-out;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  @apply block z-40 w-[24vw] md:w-[11vw] xl:w-[9vw] h-[24vw] md:h-[11vw] xl:h-[9vw];
  touch-action: manipulation;
  position: absolute;
  top: 23%;
  border: 0;

  & svg {
    fill-opacity: 0;
  }
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  @apply left-[20px] md:left-[4vw]
}

.embla__button--next {
  @apply right-[10vw] md:right-[24vw] -rotate-12
}


.ethos-text {
  & > p {
    @apply text-lg leading-[1.2] lg:text-lg lg:leading-[1.2] xl:text-xl xl:leading-[1.2] 2xl:text-[24px] 2xl:leading-[1.2] mb-6 md:mb-8
  }

  & > p:first-of-type {
    @apply indent-9 md:indent-12;
  }
}



.intro-fade-out {
  animation: fadeOutScale 0.44s cubic-bezier(0.77,0,0.18,1) forwards;
  animation-delay: 3.5s;
}

circle {
  @apply stroke-off-black;
  fill: none;
  stroke-width: 100%;
  stroke-dasharray: 315; /* equal to circumference of circle 2 * 3.14 * 50 */
  animation: wipe 3s cubic-bezier(0.77,0,0.18,1) forwards reverse;
  animation-delay: 0.5s;
}

@keyframes wipe {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 314.4;
  }
  100% {
    stroke-dashoffset: 630;
  } 
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }  
}

@keyframes fadeOutScale {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }  
}


.fancy-nav {
  &:hover .fancy-nav__item {
    @apply md:text-yellow-dark;
  }

  &:hover .fancy-nav__shadow {
    @apply opacity-0
  }
}

.fancy-nav__shadow {
  @apply transition-opacity ease-in-out duration-300 opacity-80;
}

.fancy-nav__item {
  
  .fancy-nav__item-inner {
    @apply transition-all ease-in-out duration-500
  }

  .fancy-nav__item-inner-inner {
    @apply transition-all ease-in-out duration-500
  }

  &:hover {
    @apply opacity-100 md:text-off-black !important;
  }
}

.embla__slide.has-loaded .embla__slide__img {
  opacity: 1;
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 3s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 50% 80%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(10deg) }
    50% { transform: rotate(-5deg) }
    100% { transform: rotate(10deg) }
}